<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Flight Detail View</title>
</head>

<body>

    <h3>Flight Details</h3>
    <table>
        <thead>
            <tr>
                <th>Airline</th>
                <th>Airport</th>
                <th>FlightNo</th>
                <th>Date Depart</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <%= flight.airline %>
                </td>
                <td>
                    <%= flight.airport %>
                </td>
                <td>
                    <%= flight.flightNo %>
                </td>
                <td>
                    <%= flight.departs %>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Arrival Details</h3>
    <form action="/flights/<%= flight._id %>/dest" method="POST">
        <label>Add Destination</label><input type="text" name="airport">
        <label>Add Arrival Date</label><input type="datetime-local" name="arrival">
        <button>Add Arrival Details</button>
    </form>
    <br>

    <table>
        <thead>
            <tr>
                <th>Destination</th>
                <th>Arrival Date</th>
            </tr>
        </thead>
        <tbody>
            <% flight.destinations.forEach(function(dest) { %>
                <tr>
                    <td>
                        <%= dest.airport %>
                    </td>
                    <td>
                        <%= dest.arrival %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>

    <h3>Seat Details</h3>
    <table>
        <thead>
            <tr>
                <th>Seat</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% ticket.forEach(function(tix) { %>
                <tr>
                    <td>
                        <%= tix.seat %>
                    </td>
                    <td>
                        <%= tix.price %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <br>
    <form action="/flights/<%= flight._id %>/tickets/new" method="GET">
        <button>New Ticket</button>
    </form>


</body>

</html>